*{
    margin: 0;
    padding: 0;
}
header button{
    background-color: red;
    border-radius: 2px;
    font-size: 20px;

}

body{
    background-color: rgb(94, 104, 104);
    display: flex;
    place-items: center;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-areas:
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}

main div{
    padding: 2em;
    text-align: center;
}


.item-a{ 
background-color: rgb(208, 34, 34);
grid-area: a;
}
.item-b{
background-color: yellow;
grid-area: b;
}
.item-c{
background-color: rgb(20, 167, 20);
grid-area: c;
}
.item-d{
background-color: rgb(68, 68, 221);
grid-area: d;
}
.item-e{
background-color:rgb(68, 68, 221) ;
grid-area: e;
}